<div class="site-content container">
  <div class="cherry-projects-single cherry-projects-single-post-format-video">
    <div class="cherry-projects-single-post">
      <div class="cherry-projects-single__container">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <div class="cherry-projects-single__content__header">
                <h1 class="project-title">About </h1>
              </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
              <p>
                <img class="alignnone size-full wp-image-462" src="<%= asset_path('img28.jpg', type: 'image') %>" alt="img28" />
              </p>
              <h3>The fashion of today is a multi-dimensional, subjective thing&#8230;</h3>
              <p>In the time of the Internet and all the modern technologies, the creativity boomed significantly, allowing for an unseen-before kind of a collaboration and mix of miscellaneous fashion styles in one collection.</p>
              <p>This is exactly what our women&#8217;s and men&#8217;s clothing brand is all about &#8211; combining the best of what can be seen on the catwalks of the globe and mixing it all into our very own unique style!</p>
              <p>Also, we&#8217;re incredibly proud to have a lineup of talented, creative and tasteful fashion designers at our service.</p>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-2">
              <div class="side-addpanel"><span>AD HERE </span></div>
            </div>
          </div>
          <!-- .row -->
        </div>
        <!-- .container -->                                   
      </div>
    </div>
  </div>
</div>
<!-- .site-content -->
