<div class="site-content container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7 col-md-7 col-lg-10">
        <article class="hentry">
          <div class="cherry-projects-terms-wrapper">
            <div class="projects-terms-container cherry-animation-container masonry-layout loading-animation-fade" data-settings='{"list-layout":"masonry-layout","post-per-page":"12","column-number":"3","item-margin":"20"}'>
              <div class="projects-terms-list cherry-animation-list">

              <% @categories.each do |category| %>
                <div class="projects-terms-item projects-item-instance cherry-animation-item simple-fade-hover animate-cycle-show item-#{category.id} #{category.desc}">
                  <div class="inner-wrapper">
                    <div class="project-terms-media border-animation">
                      <figure class="featured-image">
                        <a href="<%= category.image.url(:medium) %>" class="term-img"><span class="cover"></span>
                        <img src="<%= category.image.url(:medium) %>" alt="Street" width="438" height="470"></a>
                      </figure>
                      <div class="hover-content row-format">
                        <a class="term-permalink simple-icon" href="<%= image_gallary_path(id: category)%>"><span class="dashicons"></span></a>
                      </div>
                    </div>
                    <div class="project-terms-content">
                      <h5 ><a href="/street" title="Street"><%= category.name%></a></h5>
                    </div>
                  </div>
                </div>
              <% end -%>  
              
              </div>
            </div>
            <div class="cherry-projects-ajax-loader">
              <div class="cherry-spinner cherry-spinner-double-bounce">
                <div class="cherry-double-bounce1"></div>
                <div class="cherry-double-bounce2"></div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-2">
        <div class="side-addpanel"><span>AD HERE </span></div>
      </div>
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<!-- .site-content -->
