<div class="page-preloader-cover">
  <div class="page-preloader">
    <div class="preloader-logo"><img src="<%= asset_path('logo.png') %>" alt="Mezmerize" class="site-link__img" ></div>
  </div>
</div>
